//Colors

$primary-color : #e74063;
$secondary-color : #772850;


//Fonts
$font-light : 'SEGOEUIL';
$font-bold : 'SEGOEUISB';

//Dimensions
$desktop : 1300px;
$medium : 1100px;
$tablet : 990px;
$mobile : 640px;
$small : 520px;
$mini : 470px;