/**
* Strictly Layout Styles
*/

.wrap{
	
	header{
		overflow: hidden;
		position: relative;
		height: 113px;
		border-bottom: 3px solid $primary-color;
		
		#nav-icon1{
			display: none;
		}
		
		.logo{
			position: absolute;
			top: 50px;
			left: 48%;
		}

		.cart{
			display: block;
			text-align: right;
			margin-bottom: 17px;

			.rightBox {
				display: inline-block;
				position: relative;
				left: 3px;
				margin-top: 21px;
				z-index: 800;

				.cartStats{
					display: inline-block;
					position: relative;
					margin-right: 4px;
				}

				.cartCount{
					display: inline-block;
					padding: 2px 14px 5px 9px;
					color: #fff;
					background-color: $primary-color;
				}

				.cartBox{
					display: inline-block;
					position: relative;
					top: 0px;
					left: 4px;
					padding: 2px 10px 5px 16px;
					color: #fff;
					background-color: #772850;
				}

				.cartBox span{
					position: relative;
					top: 1px;

					&:before{
						display: inline-block;
						content: '';
						background: transparent url('assets/images/components/cart.png') no-repeat;
						width: 13px;
						height: 11px;
						position: relative;
						right: 9px;
						top: 1px;
					}
				}
			}
		}
		
		
		@media only screen and (max-width : $tablet) {
			height: 90px;
			border-bottom: 1px solid $primary-color;
			
			#nav-icon1{
				display: inline-block;
			}
			
			.logo{
				position: relative;
				display: block;
				text-align: center;
				top: 0;
				left: 0;
				z-index: -1;
				
				img{
					width: 54px;
				}
			}
			
			.cart {
				display: none;
				margin-top: 20px;
				margin-bottom: 0;
				border-top: 1px solid $primary-color;
				vertical-align: top;
				text-align: left;
				
				.rightBox {
					margin-top: 0;
					
					.cartStats{
						text-align: left;
					}
				}
			}
			
			nav{
				margin-top: 27px;
				border-top: 1px solid $primary-color;
			}
		}
		
		@media only screen and (max-width : $mini) {
			height: 64px;
			
			.logo{
				img{
					width: 44px;
				}
			}
			
			nav{
				margin-top: 10px;
				border-top: 1px solid $primary-color;
			}
		}

	}
	
	.bannerArea {
		position:relative;
		border-bottom: 4px solid #e74063;
		height: auto;
		
		@media only screen and (max-width : $tablet) {
			display: none;
		}
		
	}
	
	.bannerArea02 {
		display: none;
		border-bottom: 2px solid #e74063;
		
		@media only screen and (max-width : $tablet) {
			display: block;
		}
		
		@media only screen and (max-width : $small) {
			display: none;
		}
	}
	
	.bannerArea03 {
		display: none;
		border-bottom: 2px solid #e74063;

		@media only screen and (max-width : $tablet) {
			display: none;
		}

		@media only screen and (max-width : $small) {
			display: block;
		}
	}
	
	.bannerArea02,
	.bannerArea03{
		ul {
			li {
				img {
					width: 100%;
					height: auto;
				}

				&:nth-child(2){
					border-top: 1px solid $primary-color;
					border-bottom: 1px solid $primary-color;
				}
			}
		}
	}
	
	main{
		article{
			display: block;
			margin: 15px 0 15px 0;
		}
		
		.sectionBlockA {
			ul{
				display: flex;
				position: relative;
				li{
					display: inline-block;
					position: relative;
					
					&:not(:last-child){
						margin-right: 1.7em;
					}

					@media only screen and (max-width : $mini) {
						&:not(:last-child){
							margin-right: 1em;
						}

						img{
							width: 324px;
						}
					}
				}
				

				@media only screen and (max-width : $mobile) {
					display: block;
					text-align: center;

					li{
						&:not(:last-child){
							margin-right: 1em;
						}
					}
				}
				
				@media only screen and (max-width : $mini) {
					display: block;
					text-align: center;
				}
			}
			
		}
		
		.sectionBlockB{
			display: block;
			text-align: center;
			ul{
				overflow: hidden;
				display: block;
				
				
				li{
					display: inline-block;
					float: left;
					max-height: 206px;
					
					&:not(:nth-child(3n)){
						margin-right: 9px;
					}

					&:nth-child(3){
						.price-tag{
							bottom: -187px;
						}
					}
					
				}
				
				@media only screen and (max-width : $medium) {
					display: inline-block;
					width: 541px;
					margin: 0 auto;
					li{
						display: inline-block;
						height: auto;
						max-height: 200px;
						margin-bottom: 6px;
						

						&:not(:nth-child(3n)){
							margin-right: 9px;
						}
					}
				}
				
				@media only screen and (max-width : $mobile) {
					width: 266px;
					height: auto;
					li{
						display: block;
						margin-bottom: 5px;
						max-height: 404px;
						
						&:first-child{
							width: 266px;
							height: 198px;
							overflow: hidden;
							
							img{
								position: relative;
								right: 135.5px;
								width: 542px;
							}

							.sale-badge{
								z-index: 1;
							}

							.price-tag{
								bottom: 10px;
								z-index: 1;
							}
						}
						
						&:nth-child(3){
							width: 266px;
							height: 198px;
							overflow: hidden;

							img{
								width: 266px;
							}

							.price-tag{
								bottom: 10px;
							}
						}
						
						&:not(:nth-child(3n)){
							margin-right: 0;
						}
					}
				}
			}
			
		}

		.sectionBlockC{
			display: block;
			position: relative;
			.Boxslide{
				display: block;
				position: relative;
				width: 100%;
				.navNext{
				    display: inline-block;
				    position: absolute;
				    width: 31px;
				    height: 31px;
				    top: 47.5%;
				    right: 0;
				    z-index: 800;
				    &:hover{
				    	cursor: pointer;
				    }
				}

				.navPrev{
				    display: inline-block;
				    width: 29px;
				    height: 31px;
				    position: absolute;
				    top: 47.5%;
				    left: 0;
				    z-index: 800;

				    &:hover{
				    	cursor: pointer;
				    }
				}
			}

			ul{
				display: block;
				height: auto;
				position: relative;
				padding: 18px 0;
				background-color: #4e4e50;
				width: 200%;
				column-count: 2;
				-moz-column-count: 2;
				-webkit-column-count: 2;
				-ms-column-count: 2;
				column-gap: 0;
				-moz-column-gap: 0;
				-webkit-column-gap: 0;
				-ms-column-gap: 0;

				li{
					display: inline;
					position: relative;
					float: left;
					width: 25%;

					img{
						width: 100%;
					}

					@media only screen and (max-width : $mobile) {
						display: inline-block;
						float: left;
						width: 50%;

						img{
							height: 220px;
						}
					}

					@media only screen and (max-width : $small) {
						display: inline-block;
						width: 100%;
						text-align: center;

						img{
							width: auto;
						}

						span{
							font-family: $font-bold!important;
							color: $secondary-color;
						}
					}
				}

				@media only screen and (max-width: $mobile){
					column-count: 4;
					-moz-column-count: 4;
					-webkit-column-count: 4;
					-ms-column-count: 4;
					width: 400%;
				}

				@media only screen and (max-width: $small){
					column-count: 16;
					-moz-column-count: 16;
					-webkit-column-count: 16;
					-ms-column-count: 16;
					width: 1600%;
				}
			}
		}

		.sectionBlockD{
			display: block;
			margin-bottom: 50px;
			.blog{
				margin: 0 auto;
				width: 65%;		
				text-align: center;
				h3{
					position:relative;
					font-size: 18px;
					color: $primary-color;

					&:before{
						content: "";
						position: absolute;
						top: 33px;
						left: 110px;
						width: 70%;
						height: 1px;
						background-color:#ccc;
					}
				}

				p{
					display: block;
					position: relative;
					margin-top: 36px;
					margin-bottom: 26px;
					text-align: center;
					color: #888;
					font-size: 14px;

					&:before{
						content: "";
						position: absolute;
						top: 77px;
						left: 0px;
						width: 100%;
						height: 1px;
						background-color:#ccc;
					}
				}

				.blogInfo{
					color: #888;
					li{
						display: inline-block;
						.text{
							margin-left: 4px;
						}

						&:nth-child(2){
							margin-left: 20px;
							.text{
									color: $primary-color;
							}
						}
					}
				}
			}
		}

		.sectionBlockE{
			overflow: hidden;
			display: block;
			margin: 0;
			height: 265px;
			background: url(assets/images/parallax/bg.jpg) no-repeat;
			background-attachement: fixed;

			h3{
				display: block;
				margin-top: 68px;
				font-family: $font-light;
				font-weight: lighter;
				font-size: 48px;
				color: #fff;
			}

			p{
				display: block;
				margin-top: 15px;
				font-size: 14px;
				color: #fff;
			}

			a{
				display: inline-block;
				position: relative;
				margin-top: 22px;
				padding: 13px 23px;
				font-size: 14px;
				font-family: $font-bold;
				color: #fff;
				background-color:$primary-color;
			}
		}

		.sectionBlockF{
			overflow: hidden;
			display: block;
			height: 135px;
			margin: 0;
			-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
			background-color:#1f1f20;

			h3{
				position:relative;
				display: block; 
				margin-top: 17px;
				color: #888;
				font-size: 18px;

				&:before{
					content: "";
					position: absolute;
					width: 80%;
					height: 1px;
					margin-bottom: -7px;
					bottom: 0;
					background-color: #ccc;
				}
			}

			p{
				margin-top: 12px;
				font-size: 14px;
				color: #888;
			}

			a{
				display: inline-block;
				position: relative;
				margin-top: 1px;
				float: right;
				padding: 13px 23px;
				font-size: 14px;
				font-family: $font-bold;
				color: #fff;
				background-color:$primary-color;
			}
		}
	}

	footer{
		.footLinks{
			overflow: hidden;
			display: block;
			margin: 0;
			height: 295px;
			background-color:#29292c;
			-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
		}

		.copyright{
			height: 47px;
			background-color: #1f1f20;

		}
	}
}